In [2]:
import pandas as pd
import numpy as np

In [4]:
dataset1 = pd.read_csv("D:\\digicrome_datascienceAndAI\\Second_Project\\dataset_1 - dataset_1.csv")

In [6]:
print(dataset1)

     instant      dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0          1  01-01-2011       1   0     1   0    False        6           1
1          2  01-01-2011       1   0     1   1    False        6           1
2          3  01-01-2011       1   0     1   2    False        6           1
3          4  01-01-2011       1   0     1   3    False        6           1
4          5  01-01-2011       1   0     1   4    False        6           1
..       ...         ...     ...  ..   ...  ..      ...      ...         ...
605      606  28-01-2011       1   0     1  11    False        5           3
606      607  28-01-2011       1   0     1  12    False        5           3
607      608  28-01-2011       1   0     1  13    False        5           3
608      609  28-01-2011       1   0     1  14    False        5           3
609      610  28-01-2011       1   0     1  15    False        5           2

     temp
0    0.24
1    0.22
2    0.22
3    0.24
4    0.24
..    ...
605  0.18
606  0.18
607  0.18
608  0.22
609  0.20

[610 rows x 10 columns]

In [8]:
dataset1.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
0,1,01-01-2011,1,0,1,0,False,6,1,0.24
1,2,01-01-2011,1,0,1,1,False,6,1,0.22
2,3,01-01-2011,1,0,1,2,False,6,1,0.22
3,4,01-01-2011,1,0,1,3,False,6,1,0.24
4,5,01-01-2011,1,0,1,4,False,6,1,0.24

In [10]:
print("Rows:", dataset1.shape[0])
print("Columns:", dataset1.shape[1])

Rows: 610
Columns: 10

In [12]:
dataset1.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday          bool
weekday         int64
weathersit      int64
temp          float64
dtype: object

In [14]:
dataset1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     610 non-null    int64
 1   dteday      610 non-null    object
 2   season      610 non-null    int64
 3   yr          610 non-null    int64
 4   mnth        610 non-null    int64
 5   hr          610 non-null    int64
 6   holiday     610 non-null    bool
 7   weekday     610 non-null    int64
 8   weathersit  610 non-null    int64
 9   temp        610 non-null    float64
dtypes: bool(1), float64(1), int64(7), object(1)
memory usage: 43.6+ KB

In [16]:
dataset1.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
weathersit    0
temp          0
dtype: int64

In [18]:
# Fill numeric missing values with mean
dataset1.fillna(dataset1.mean(numeric_only=True), inplace=True)

# Or drop if appropriate
# dataset1.dropna(inplace=True)

In [20]:
# Example: Drop unnamed or irrelevant columns
dataset1.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')

In [22]:
for col in dataset1.columns:
    print(f"{col}: {dataset1[col].nunique()} unique values")

instant: 610 unique values
dteday: 28 unique values
season: 1 unique values
yr: 1 unique values
mnth: 1 unique values
hr: 24 unique values
holiday: 2 unique values
weekday: 7 unique values
weathersit: 4 unique values
temp: 23 unique values

In [26]:
print("Mean:\n", dataset1.mean(numeric_only=True))
print("\nMedian:\n", dataset1.median(numeric_only=True))

Mean:
 instant       305.500000
season          1.000000
yr              0.000000
mnth            1.000000
hr             11.795082
holiday         0.039344
weekday         2.977049
weathersit      1.477049
temp            0.196885
dtype: float64

Median:
 instant       305.5
season          1.0
yr              0.0
mnth            1.0
hr             12.0
holiday         0.0
weekday         3.0
weathersit      1.0
temp            0.2
dtype: float64

In [28]:
dataset2 = pd.read_csv("D:\\digicrome_datascienceAndAI\\Second_Project\\dataset_2.xlsx - dataset_2.csv")

In [30]:
print(dataset2)

     Unnamed: 0  instant   atemp   hum  windspeed  casual  registered  cnt
0             0        1  0.2879  0.81     0.0000       3          13   16
1             1        2  0.2727  0.80     0.0000       8          32   40
2             2        3  0.2727  0.80     0.0000       5          27   32
3             3        4  0.2879  0.75     0.0000       3          10   13
4             4        5  0.2879  0.75     0.0000       0           1    1
..          ...      ...     ...   ...        ...     ...         ...  ...
605         605      606  0.2121  0.93     0.1045       0          30   30
606         606      607  0.2121  0.93     0.1045       1          28   29
607         607      608  0.2121  0.93     0.1045       0          31   31
608         608      609  0.2727  0.80     0.0000       2          36   38
609         609      610  0.2576  0.86     0.0000       1          40   41

[610 rows x 8 columns]

In [32]:
dataset1.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp
0,1,01-01-2011,1,0,1,0,False,6,1,0.24
1,2,01-01-2011,1,0,1,1,False,6,1,0.22
2,3,01-01-2011,1,0,1,2,False,6,1,0.22
3,4,01-01-2011,1,0,1,3,False,6,1,0.24
4,5,01-01-2011,1,0,1,4,False,6,1,0.24

In [34]:
print("Rows:", dataset1.shape[0])
print("Columns:", dataset1.shape[1])

Rows: 610
Columns: 10

In [36]:
dataset2.dtypes

Unnamed: 0      int64
instant         int64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [38]:
dataset2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 610 entries, 0 to 609
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  610 non-null    int64
 1   instant     610 non-null    int64
 2   atemp       599 non-null    float64
 3   hum         610 non-null    float64
 4   windspeed   610 non-null    float64
 5   casual      610 non-null    int64
 6   registered  610 non-null    int64
 7   cnt         610 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 38.3 KB

In [40]:
dataset2.isnull().sum()

Unnamed: 0     0
instant        0
atemp         11
hum            0
windspeed      0
casual         0
registered     0
cnt            0
dtype: int64

In [44]:
# Fill numeric missing values with mean
dataset2.fillna(dataset2.mean(numeric_only=True), inplace=True)

In [46]:
# Example: Drop unnamed or irrelevant columns
dataset2.drop(columns=['Unnamed: 0'], inplace=True, errors='ignore')

In [48]:
for col in dataset2.columns:
    print(f"{col}: {dataset2[col].nunique()} unique values")

instant: 610 unique values
atemp: 30 unique values
hum: 61 unique values
windspeed: 20 unique values
casual: 32 unique values
registered: 150 unique values
cnt: 165 unique values

In [50]:
print("Mean:\n", dataset2.mean(numeric_only=True))
print("\nMedian:\n", dataset2.median(numeric_only=True))

Mean:
 instant       305.500000
atemp           0.199935
hum             0.562475
windspeed       0.204851
casual          4.501639
registered     51.068852
cnt            55.570492
dtype: float64

Median:
 instant       305.500
atemp           0.197
hum             0.520
windspeed       0.194
casual          2.000
registered     43.000
cnt            47.000
dtype: float64

In [56]:
import pandas as pd

In [58]:
dataset1 = pd.read_csv('D:\\digicrome_datascienceAndAI\\Second_Project\\dataset_1 - dataset_1.csv')
dataset2 = pd.read_csv('D:\\digicrome_datascienceAndAI\\Second_Project\\dataset_2.xlsx - dataset_2.csv')

In [64]:
new_data = pd.merge(dataset1, dataset2, on='instant', how='inner')

In [66]:
print(new_data)

     instant      dteday  season  yr  mnth  hr  holiday  weekday  weathersit  \
0          1  01-01-2011       1   0     1   0    False        6           1
1          2  01-01-2011       1   0     1   1    False        6           1
2          3  01-01-2011       1   0     1   2    False        6           1
3          4  01-01-2011       1   0     1   3    False        6           1
4          5  01-01-2011       1   0     1   4    False        6           1
..       ...         ...     ...  ..   ...  ..      ...      ...         ...
605      606  28-01-2011       1   0     1  11    False        5           3
606      607  28-01-2011       1   0     1  12    False        5           3
607      608  28-01-2011       1   0     1  13    False        5           3
608      609  28-01-2011       1   0     1  14    False        5           3
609      610  28-01-2011       1   0     1  15    False        5           2

     temp  Unnamed: 0   atemp   hum  windspeed  casual  registered  cnt
0    0.24           0  0.2879  0.81     0.0000       3          13   16
1    0.22           1  0.2727  0.80     0.0000       8          32   40
2    0.22           2  0.2727  0.80     0.0000       5          27   32
3    0.24           3  0.2879  0.75     0.0000       3          10   13
4    0.24           4  0.2879  0.75     0.0000       0           1    1
..    ...         ...     ...   ...        ...     ...         ...  ...
605  0.18         605  0.2121  0.93     0.1045       0          30   30
606  0.18         606  0.2121  0.93     0.1045       1          28   29
607  0.18         607  0.2121  0.93     0.1045       0          31   31
608  0.22         608  0.2727  0.80     0.0000       2          36   38
609  0.20         609  0.2576  0.86     0.0000       1          40   41

[610 rows x 17 columns]

In [70]:
new_data.to_csv('D:\\digicrome_datascienceAndAI\\Second_Project\\new_data - new_data.csv', index=False)

In [72]:
new_data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,weathersit,temp,Unnamed: 0,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2011,1,0,1,0,False,6,1,0.24,0,0.2879,0.81,0.0,3,13,16
1,2,01-01-2011,1,0,1,1,False,6,1,0.22,1,0.2727,0.80,0.0,8,32,40
2,3,01-01-2011,1,0,1,2,False,6,1,0.22,2,0.2727,0.80,0.0,5,27,32
3,4,01-01-2011,1,0,1,3,False,6,1,0.24,3,0.2879,0.75,0.0,3,10,13
4,5,01-01-2011,1,0,1,4,False,6,1,0.24,4,0.2879,0.75,0.0,0,1,1